/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
:root {
    --header-heigth: 60px
}

ul {
    list-style-type: none;
}

.flex {
    display: flex;
}

.marg-bot {
    margin-bottom: 100px;
}

.pad-top {
    padding-top: 60px;
}

.pad-bot {
    padding-bottom: 60px;
}

/* #region HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-heigth);
    /* width: 100%; */
    /* DEBUG */
    background-color: aqua;
}

header a {
    text-decoration: none;
    padding-right: 15px;
    /* text-decoration: inherit; */
    color: white
}

.cont-head {
    width: 100%;
    height: var(--header-heigth);
    justify-content: space-between;
    /* DEBUG */
    background-color: antiquewhite;
}

/* DEBUG */
.head-left,
.head-right {
    width: 20%;
    height: var(--header-heigth);
    line-height: var(--header-heigth);
    padding: 0 30px;
    background-color: blue;
}

.head-right ul {
    justify-content: flex-end;
}



/* JUMBOTRON */
.jumbotron {
    padding-top: var(--header-heigth);

    /* DEBUG */
    background-color: aquamarine;
}

.container-updown {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    /* DEBUG */
    border: 1px solid black;
}

.jumbo-description {
    width: 100%;

    /* DEBUG */
    height: 500px;
    background-color: blueviolet;
}

.text-jumbo {

    /* DEBUG */
    flex-grow: 2;
    height: 500px;
    background-color: bisque;
}

.img-jumbo {

    /* DEBUG */
    flex-grow: 3;
    height: 500px;
    background-color: brown;
}

/* #endregion HEADER */

/* #region MAIN */
.container-main {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
}

/* SELECTION BUSINESS */
/* DEBUG */
.selection-facture {
    background-color: aquamarine;
}

.option-business {
    justify-content: space-between;
    /* DEGUB */
    background-color: blue;
}

.package {
    background-color: blueviolet;
    height: 700px;
    width: calc(100% / 3 - 20px);
}

.team-contact {
    /* DEBUG */
    height: 300px;
    text-align: center;
    background-color: aquamarine;
}

.title-team {
    padding: 20px;
    background-color: bisque;
}

/* /SELECTION BUSINESS */

.text-partner {

    /* DEBUG */
    flex-grow: 2;
    height: 500px;
    background-color: bisque;
}

.img-partner {

    /* DEBUG */
    flex-grow: 3;
    height: 500px;
    background-color: brown;
}

/* OPERATION BUSINESS */
.row {
    justify-content: space-between;
    height: 500px;
    flex-wrap: wrap;

}

.column {
    background-color: brown;
    height: 200px;
    width: calc(100% / 3 - 20px);
}

/* PARTNER LOGHI */
.partner {
    height: 400px;
    width: calc(100% / 3 - 10px);
}

.loghi-left {
    background-color: beige;
}

.loghi-right {
    background-color: blueviolet;
}

.description-partner {
    background-color: brown;
}

.container-partner {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.loghi-left {
    flex-wrap: wrap;
}

.loghi-right {
    flex-wrap: wrap;
}

.logo {
    width: calc(100% / 2);
    background-color: peru;
}

/* FREE TRIAL */

.free-trial {
    margin-top: 0;
    background-color: aquamarine;
}

.brings-company {
    justify-content: space-between;
}

/* FREQUENT QUESTION */
.question {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    /* DEBUG */
    background-color: brown;
    height: 70px;
}

/* #endregion MAIN */

/* #region FOOTER */
footer {
    background-color: black;
    min-height: 400px;
}

.list {
    width: calc(100% / 5);
    /* DEBUG */
    background-color: azure;
    height: 100px;

}

.lenguage {
    text-align: left;
    /* DEBUG */
    background-color: aquamarine;
}

/* #endregion FOOTER */